crispy-bootstrap5
cryptography
django
django-allauth
django-crispy-forms
django-environ
django-filter
django-localflavor
django-select2
mailchimp-marketing
mssql-django
openpyxl
pillow
pip-tools
pyexcel-ods
PyJWT
pyodbc
python-dateutil
python3-openid
python3-saml
requests
requests-oauthlib
tqdm
