crispy-bootstrap5
django
django-allauth
django-crispy-forms
django-environ
django-localflavor
django-select2
mailchimp-marketing
mssql-django
openpyxl
pillow
pip-tools
pyexcel-ods
pyodbc
python-dateutil
tqdm