{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="d-flex p-2 bd-highlight">
        <div class="card">
            {% comment %} <img src="..." class="card-img-top" alt="..."> {% endcomment %}
            <div class="card-body">
            <h5 class="card-title">{% translate "Pending Orders" %}</h5>
            <p class="card-text">0</p>
            <a href="#" class="btn btn-primary">{% translate "View" %}</a>
            </div>
        </div>
    </div>
    <!--
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">{% translate "Dashboard" %}</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
        <button type="button" class="btn btn-sm btn-outline-secondary">{% translate "Share" %}</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">{% translate "Export" %}</button>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
        <span data-feather="calendar"></span>
        {% translate "This week" %}
        </button>
    </div>
    </div>
    -->

    <!--
    <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
    -->

    <!--
    <h2>{% translate "Section title" %}</h2>
    <div class="table-responsive">
    <table class="table table-striped table-hover table-sm">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Header</th>
            <th scope="col">Header</th>
            <th scope="col">Header</th>
            <th scope="col">Header</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1,001</td>
            <td>random</td>
            <td>data</td>
            <td>placeholder</td>
            <td>text</td>
        </tr>
        </tbody>
    </table>
    </div>
    -->
{% endblock content %}
