{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block custom_css %}
    {{ form.media.css }}
{% endblock custom_css %}

{% block title %}{% translate "Order Item Registration" %}{% endblock title %}

{% block content %}
    <h1>{% translate "Order Item Registration" %}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">{% translate "Save" %}</button>
    </form>
{% endblock content %}

{% block custom_js %}
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    {{ form.media.js }}
{% endblock custom_js %}