{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% translate "Orders List" %}
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h1>{% translate "Orders List" %}</h1>
        </div>
        <div class="col-md-6 text-end">
            <a href="{% url 'orders:create' %}" class="btn btn-sm btn-success">
                <i data-feather="plus"></i> {% translate "Add" %}
            </a>
            <a href="#" class="btn btn-sm btn-secondary">
                <i data-feather="file-text"></i> {% translate "Export" %}
            </a>
        </div>
    </div>

    <hr />

    {% include "includes/pagination.html" %}

    <div class="table-responsive">
        <table class="table table-striped table-hover table-sm">
            <thead>
                <tr>
                    <th scope="col" class="text-center">{% translate "Date" %}</th>
                    <th scope="col" class="text-center">{% translate "Customer" %}</th>
                    <th scope="col" class="text-center">{% translate "Products Group" %}</th>
                    <th scope="col" class="text-center">{% translate "Total Quantity" %}</th>
                    <th scope="col" class="text-center">{% translate "Total Value" %}</th>
                    <th scope="col" class="text-center">{% translate "Status" %}</th>
                    <th scope="col" class="text-center"></th>
                </tr>
            </thead>
            <tbody>
                {% for order in object_list %}
                    <tr>
                        <td scope="row" class="text-center">
                            <a href="{% url 'orders:detail' pk=order.pk %}">{{ order.created|date:"SHORT_DATE_FORMAT" }}</a>
                        </td>
                        <td>
                            <a href="{% url 'customers:detail' order.customer.slug %}">{{ order.customer.name }}</a>
                        </td>
                        <td>
                            {% if order.product_group %}
                                <a href="{% url 'product_groups:detail' order.product_group.pk %}">{{ order.product_group.name }}</a>
                            {% else %}
                                {% translate "N/A" %}
                            {% endif %}
                        </td>
                        <td class="text-center">{{ order.total_quantity }}</td>
                        <td class="text-center">{{ order.total_value|floatformat:2 }}</td>
                        <td class="text-center">
                            <span class="badge bg-warning text-dark">{% translate order.get_status_display %}</span>
                        </td>
                        <td class="text-center">
                            <a href="{% url 'orders:detail' pk=order.pk %}" class="btn btn-sm btn-secondary">
                                <i data-feather="search"></i>
                            </a>
                            <a href="{% url 'orders:update' pk=order.pk %}" class="btn btn-sm btn-primary">
                                <i data-feather="edit"></i>
                            </a>
                            <a href="{% url 'orders:delete' pk=order.pk %}" class="btn btn-sm btn-danger">
                                <i data-feather="trash-2"></i>
                            </a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="7">{% translate "No orders found" %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% include "includes/pagination.html" %}
{% endblock content %}
