{% extends 'base.html' %}
{% load i18n %}

{% block title %}
  {% translate 'Customer List' %}
{% endblock %}

{% block content %}
  <h1>{% translate 'Customer' %}</h1>
  {% if perms.customers.add_customer %}
  <a class="btn btn-primary mb-3" href="{% url 'customers:create' %}">{% translate 'Add' %}</a>
  {% endif %}
  {{ customer.name }}
  {% if customers %}
    <div class="table-responsive">
      <table class="table table-striped table-hover table-sm">
        <thead>
          <tr>
            <th scope="col">{% translate 'Customer' %}</th>
            <th scope="col">{% translate 'Pending Orders' %}</th>
            <th scope="col">{% translate 'Ordered Products' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for customer in customers %}
            <tr>
              <td><a href="{% url 'customers:detail' customer.slug %}">{{ customer.name }}</a></td>
              <td>{{ customer.order_count }}</td>
              <td>{{ customer.ordered_total }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <p>
      {% translate 'No customers are available.' %}
    </p>
  {% endif %}
{% endblock %}
