{% extends "base.html" %}
{% load i18n %}

{% block title %}
  {% translate "Customer List" %}
{% endblock title %}

{% block content %}
  <div class="row">
    <div class="col-md-6">
      <h1>{% translate "Customers List" %}</h1>
    </div>
    <div class="col-md-6 text-end">
        {% if perms.customers.add_customer %}
          <a href="{% url 'customers:create' %}" class="btn btn-success me-2">
              <i data-feather="plus"></i> {% translate "Add" %}
          </a>
        {% endif %}
        {% if perms.customers.view_customers %}
        <a href="#" class="btn btn-secondary">
            <i data-feather="file-text"></i> {% translate "Export" %}
        </a>
        {% endif %}
    </div>
  </div>

  <hr />

  {% if customers %}
    <div class="table-responsive">
      <table class="table table-striped table-hover table-sm">
        <thead>
          <tr>
            <th scope="col">{% translate "Customer" %}</th>
            <th scope="col">{% translate "Pending Orders" %}</th>
            <th scope="col">{% translate "Ordered Products" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for customer in customers %}
            <tr>
              <td><a href="{% url "customers:detail" customer.slug %}">{{ customer.name }}</a></td>
              <td>{{ customer.order_count }}</td>
              <td>{{ customer.ordered_total }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <p>
      {% translate "No customers are available." %}
    </p>
  {% endif %}
{% endblock content %}
