{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% translate "Customer Registration" %}{% endblock title %}

{% block content %}
    <h1>{% translate "Customer Registration" %}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {{ addresses.management_form }}
        <fieldset>
            <legend>Addresses</legend>
            {{ addresses.non_form_errors }}
            <ul>
            {% for address_form in addresses %}
                <li>{{ address_form.as_p }}</li>
            {% endfor %}
            </ul>
        </fieldset>
        <button type="submit">{% translate "Save" %}</button>
    </form>
{% endblock content %}
