{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% translate "Customer Registration" %}{% endblock title %}

{% block content %}
    <h1>{% translate "Customer Registration" %}</h1>
    <div class="mb-5">
        <form method="post">
            {% csrf_token %}
            {% crispy form %}
            <h3>{% translate "Address" %}</h3>
            {% crispy address_formset address_formset_helper %}

            <div class="text-end">
                <button class="btn btn-success" type="submit">{% translate "Save" %}</button>
                <a class="btn btn-danger" href="{% url 'customers:list' %}">{% translate "Cancel" %}</a>
            </div>
        </form>
    </div>
{% endblock content %}
