{% extends "account/base.html" %}
{% load i18n %}
{% load allauth account %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Sign In" %}{% endblock title %}

{% block content %}
    <h1>{% trans "Sign In" %}</h1>
    <p>
        {% blocktrans %}If you have not created an account yet, then please{% endblocktrans %} <a href="{{ signup_url }}">{% trans 'sign up' %}</a> {% trans 'first' %}.
    </p>
    <form method="post" tags="entrance,login">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" tags="prominent,login">{% trans "Log In" %}</button>
    </form>
    {% comment %} {% if SOCIALACCOUNT_ENABLED %}
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
    {% endif %} {% endcomment %}
{% endblock content %}
