{% extends "base.html" %}
{% load i18n %}

{% block title %}
  {% translate "Product List" %}
{% endblock title %}

{% block content %}
  <div class="row">
    <div class="col-md-6">
      <h1>{% translate "Product List" %}</h1>
    </div>
    <div class="col-md-6 text-end">
        {% if perms.products.add_product %}
          <a href="{% url 'products:create' %}" class="btn btn-sm btn-success">
              <i data-feather="plus"></i> {% translate "Add" %}
          </a>
        {% endif %}
        {% if perms.products.view_products %}
        <a href="#" class="btn  btn-sm btn-secondary">
            <i data-feather="file-text"></i> {% translate "Export" %}
        </a>
        {% endif %}
    </div>
  </div>

  <hr />

  {% if products %}
    {% include "includes/pagination.html" %}
    <div class="table-responsive">
      <table class="table table-striped table-hover table-sm">
        <thead>
          <tr>
            <th scope="col">
              {% translate "Product" %}
            </th>
            <th scope="col">
              {% translate "Supplier" %}
            </th>
            <th scope="col">
              {% translate "SKU" %}
            </th>
            <th scope="col">
              {% translate "Release" %}
            </th>
            <th scope="col">
              {% translate "Category" %}
            </th>
            <th scope="col">
              {% translate "Price" %}
            </th>
            <th scope="col">
              {% translate "Ordered Quantity" %}
            </th>
            <th scope="col">
              {% translate "Groups" %}
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for product in products %}
            <tr>
              <td>
                <a href="{% url "products:detail" product.slug %}">{{ product.name }}</a>
              </td>
              <td>
                {{ product.supplier }}
              </td>
              <td>
                {{ product.sku }}
              </td>
              <td>
                {{ product.release_date|date:"SHORT_DATE_FORMAT" }}
              </td>
              <td>
                {{ product.category|default:"" }}
              </td>
              <td>
                {{ product.price }}
              </td>
              <td>
                {{ product.order_items_sum }}
              </td>
              <td>
                {{ product.groups_count }}
              </td>
              <td>
                <!-- Buttons to view, edit and delete a product -->
                {% if perms.products.view_product %}
                  <a href="{% url "products:detail" product.slug %}" class="btn btn-sm btn-secondary">
                    <i data-feather="search" class="align-middle"></i>
                  </a>
                {% endif %}
                {% if perms.products.change_product %}
                  <a href="{% url "products:update" product.id %}" class="btn btn-sm btn-primary">
                    <i data-feather="edit" class="align-middle"></i>
                  </a>
                {% endif %}
                {% if perms.products.delete_product %}
                  <a href="{% url "products:delete" product.id %}" class="btn btn-sm btn-danger">
                    <i data-feather="trash-2" class="align-middle"></i>
                  </a>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% include "includes/pagination.html" %}
  {% else %}
    <p>
      {% translate "No products are available." %}
    </p>
  {% endif %}
{% endblock content %}
