{% extends "base.html" %}
{% load i18n %}

{% block title %}
  {% translate "Releases List" %}
{% endblock title %}

{% block content %}
  <div class="row">
    <div class="col-md-6">
      <h1>{% translate "Releases List" %}</h1>
    </div>
    <div class="col-md-6 text-end">
        {% if perms.products.view_products %}
        <a href="#" class="btn btn-sm btn-secondary">
            <i data-feather="file-text"></i> {% translate "Export" %}
        </a>
        {% endif %}
    </div>
  </div>

  <hr />

  {% comment %} {% include "includes/pagination.html" %} {% endcomment %}
  {% if products %}
    {% regroup products by release_date.year as year_list %}

    {% for year in year_list %}
      <h2 class="text-center">{{ year.grouper|stringformat:"s" }}</h2>
      <hr />

      {% regroup year.list by release_date|date:"F" as month_list %}

      {% for month in month_list %}
        <h3 class="text-center">{{ month.grouper }}</h3>
        <hr />

        {% regroup month.list by supplier.name as supplier_list %}

        {% for supplier in supplier_list %}
          <h4>{{ supplier.grouper }}</h4>

          <div class="table-responsive">
            <table class="table table-striped table-hover table-sm">
              <thead>
                <tr>
                  <th scope="col">{% translate "Product" %}</th>
                  <th scope="col" class="text-center">{% translate "SKU" %}</th>
                  <th scope="col" class="text-center">{% translate "Release Date" %}</th>
                  <th scope="col" class="text-center">{% translate "Price" %}</th>
                  <th scope="col" class="text-center">{% translate "Groups" %}</th>
                  <th scope="col" class="text-center">{% translate "Ordered Quantity" %}</th>
                </tr>
              </thead>
              <tbody>
                {% for product in supplier.list %}
                  <tr>
                    <td><a href="{% url "products:detail" product.slug %}">{{ product.name }}</a></td>
                    <td class="text-center">{{ product.sku }}</td>
                    <td class="text-center">{{ product.release_date|date:"SHORT_DATE_FORMAT" }}</td>
                    <td class="text-center">{{ product.price }}</td>
                    <td class="text-center">{{ product.groups_count }}</td>
                    <td class="text-center">{{ product.order_items_sum }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

          <hr />

        {% endfor %}
      {% endfor %}
    {% endfor %}
  {% else %}
    <p>No products available.</p>
  {% endif %}
{% endblock content %}
